*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild

# exclude the IDE caches and user-specific settings
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/sonarlint
/.idea/caches
/.idea/vcs.xml
